body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: larger;
    margin-top: 0px;
}
.heading:hover{
    font-size: large;
}
.link{
    background-color: rgb(7, 234, 250);
    border-radius: 10px;
    width: 80px;
    height: 30px;
    float: right;
}
canvas{
    border-radius: 10px;
    box-shadow: 7px 7px 7px grey;
}